<app-header [noTheme]="true"> </app-header>
<div class="center-content">
  <div class="content login-page">
    <div class="logo-image"></div>
    <p class="lead text-center">{{ "loginOrCreateNewAccount" | i18n }}</p>
    <form #form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div class="box">
        <div class="box-content">
          <div class="box-content-row" appBoxRow>
            <label for="email">{{ "emailAddress" | i18n }}</label>
            <input id="email" type="email" formControlName="email" appInputVerbatim="false" />
          </div>
          <environment-selector></environment-selector>
          <div class="remember-email-check">
            <input
              id="rememberEmail"
              type="checkbox"
              name="rememberEmail"
              formControlName="rememberEmail"
            />
            <label for="rememberEmail">{{ "rememberEmail" | i18n }}</label>
          </div>
        </div>
      </div>
      <div class="box">
        <button type="submit" class="btn primary block">
          <b>{{ "continue" | i18n }}</b>
        </button>
      </div>
    </form>
    <p class="createAccountLink">
      {{ "newAroundHere" | i18n }}
      <a [routerLink]="registerRoute$ | async" (click)="setLoginEmailValues()">{{
        "createAccount" | i18n
      }}</a>
    </p>
  </div>
</div>
