<div class="login-with-device">
  <header>
    <h1 class="login-center">
      <span class="title">{{ "logIn" | i18n }}</span>
    </h1>
  </header>
  <div class="content login-page">
    <div>
      <p class="lead">{{ "logInInitiated" | i18n }}</p>

      <div>
        <p>{{ "notificationSentDevice" | i18n }}</p>

        <p>
          {{ "fingerprintMatchInfo" | i18n }}
        </p>
      </div>

      <div>
        <b class="fingerprint-phrase-header">{{ "fingerprintPhraseHeader" | i18n }}</b>
        <p class="fingerprint-text">
          <code>{{ passwordlessRequest?.fingerprintPhrase }}</code>
        </p>
      </div>

      <div class="resend-notification" *ngIf="showResendNotification">
        <a (click)="startPasswordlessLogin()">{{ "resendNotification" | i18n }}</a>
      </div>

      <div class="footer">
        {{ "loginWithDeviceEnabledInfo" | i18n }}
        <a routerLink="/login">{{ "viewAllLoginOptions" | i18n }}</a>
      </div>
    </div>
  </div>
</div>
