<div [formGroup]="checkboxes">
  <input
    type="checkbox"
    [name]="pascalize(parentId)"
    [id]="parentId"
    [formControlName]="parentId"
    [indeterminate]="parentIndeterminate"
  />
  <label class="!tw-font-normal" [for]="parentId">
    {{ parentId | i18n }}
  </label>
  <div class="tw-ml-6">
    <ng-container *ngFor="let c of checkboxes.controls | keyvalue; trackBy: key">
      <div class="" *ngIf="c.key != parentId">
        <input
          class=""
          type="checkbox"
          [name]="pascalize(c.key)"
          [id]="c.key"
          [formControl]="c.value"
          (change)="onChildCheck()"
        />
        <label class="!tw-font-normal" [for]="c.key">
          {{ c.key | i18n }}
        </label>
      </div>
    </ng-container>
  </div>
</div>
