<app-header></app-header>
<bit-tab-group [(selectedIndex)]="tabIndex">
  <bit-tab label="Raw Data">
    <tools-password-health></tools-password-health>
  </bit-tab>
  <!-- <bit-tab label="{{ 'allApplicationsWithCount' | i18n: apps.length }}">
    <h2 bitTypography="h2">{{ "allApplications" | i18n }}</h2>
    <tools-application-table></tools-application-table>
  </bit-tab>
  <bit-tab>
    <ng-template bitTabLabel>
      <i class="bwi bwi-star"></i>
      {{ "priorityApplicationsWithCount" | i18n: priorityApps.length }}
    </ng-template>
    <h2 bitTypography>{{ "priorityApplications" | i18n }}</h2>
    <tools-application-table></tools-application-table>
  </bit-tab>
  <bit-tab>
    <ng-template bitTabLabel>
      <i class="bwi bwi-envelope"></i>
      {{ "notifiedMembersWithCount" | i18n: priorityApps.length }}
    </ng-template>
    <h2 bitTypography="h2">{{ "notifiedMembers" | i18n }}</h2>
    <tools-notified-members-table></tools-notified-members-table>
  </bit-tab> -->
</bit-tab-group>
