@if ((currentPendingTasks$ | async)?.length > 0) {
  <bit-banner
    class="-tw-m-5 tw-flex tw-flex-col tw-pt-2 tw-px-2 tw-mb-3"
    bannerType="warning"
    [showClose]="false"
  >
    <a bitLink linkType="secondary" [routerLink]="'/at-risk-passwords'">
      {{
        ((currentPendingTasks$ | async)?.length === 1
          ? "reviewAndChangeAtRiskPassword"
          : "reviewAndChangeAtRiskPasswordsPlural"
        ) | i18n: (currentPendingTasks$ | async)?.length.toString()
      }}
    </a>
  </bit-banner>
}

@if (showCompletedTasksBanner$ | async) {
  <bit-banner
    class="-tw-m-5 tw-flex tw-flex-col tw-pt-2 tw-px-2 tw-mb-3"
    bannerType="info"
    [icon]="null"
    [showClose]="true"
    (onClose)="successBannerDismissed()"
  >
    {{ "atRiskLoginsSecured" | i18n }}
  </bit-banner>
}
