@import "variables.scss";

html.browser_safari {
    header { 
        .search .fa {
            left: 20px;
        }

        .left + .search .fa {
            left: 10px;
        }
    }

    app-root {
        border-width: 1px;
        border-style: solid;
        
        @include themify($themes) {
            border-color: themed('borderColor');
        }
    }
}
