<img alt="Bitwarden" class="logo-themed tw-box-border tw-block tw-w-full tw-py-5 tw-px-3" />

<div class="card mb-4 tw-m-2">
  <div class="list-group list-group-flush">
    <a routerLink="projects" class="list-group-item" routerLinkActive="active"> Projects </a>
    <a routerLink="secrets" class="list-group-item" routerLinkActive="active"> Secrets </a>
    <a routerLink="serviceAccounts" class="list-group-item" routerLinkActive="active">
      Service Accounts
    </a>
    <a routerLink="trash" class="list-group-item" routerLinkActive="active"> Trash </a>
    <a routerLink="settings" class="list-group-item" routerLinkActive="active"> Settings </a>
  </div>
</div>
