@if ((fido2PopoutSessionData$ | async).fallbackSupported) {
  <div class="tw-flex tw-items-center tw-justify-center tw-p-2">
    <button type="button" [bitMenuTriggerFor]="deviceMenu">
      <span bitTypography="body2">
        {{ "useDeviceOrHardwareKey" | i18n }}
      </span>
      <i class="bwi bwi-fw bwi-sm bwi-angle-down" aria-hidden="true"></i>
    </button>
    <bit-menu #deviceMenu>
      <button type="button" bitMenuItem (click)="abort(false)">
        {{ "justOnce" | i18n }}
      </button>
      <button type="button" bitMenuItem (click)="abort()">
        {{ "alwaysForThisSite" | i18n }}
      </button>
    </bit-menu>
  </div>

  @if (showOverlay) {
    <div
      class="tw-absolute tw-size-full tw-bg-background-alt tw-inset-0 tw-bg-opacity-80 tw-z-50"
    ></div>
  }
}
