@import "variables.scss";

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-family-sans-serif;

  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }
}

.outer-wrapper {
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  display: grid;
  grid-template-columns: 24px auto 55px;
  grid-column-gap: 10px;
  box-sizing: border-box;
  min-height: 42px;

  @include themify($themes) {
    border-bottom-color: themed("primaryColor");
  }
}

.inner-wrapper {
  display: grid;
  grid-template-columns: auto max-content;
}

.outer-wrapper > *,
.inner-wrapper > * {
  align-self: center;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
}

#logo {
  width: 24px;
  height: 24px;
  display: block;
}

#close-button {
  margin-right: 10px;
}

#close {
  display: block;
  width: 17px;
  height: 17px;

  > path {
    @include themify($themes) {
      fill: themed("textColor");
    }
  }
}

#close-button:hover {
  @include themify($themes) {
    border-color: rgba(themed("textColor"), 0.2);
    background-color: rgba(themed("textColor"), 0.2);
  }
}

button {
  padding: 0.35rem 15px;
  border-radius: $border-radius;
  border: 1px solid transparent;
  cursor: pointer;
}

button:not(.neutral):not(.link) {
  @include themify($themes) {
    background-color: themed("primaryColor");
    color: themed("textContrast");
    border-color: themed("primaryColor");
  }

  &:hover {
    @include themify($themes) {
      background-color: darken(themed("primaryColor"), 1.5%);
      color: darken(themed("textContrast"), 6%);
    }
  }
}

button.link,
button.neutral {
  @include themify($themes) {
    background-color: transparent;
    color: themed("primaryColor");
  }

  &:hover {
    text-decoration: underline;

    @include themify($themes) {
      background-color: transparent;
      color: darken(themed("primaryColor"), 6%);
    }
  }
}

select {
  padding: 0.35rem;
  border: 1px solid #000000;
  border-radius: $border-radius;

  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("inputBackgroundColor");
    border-color: themed("inputBorderColor");
  }
}

select,
button {
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
}

.select-folder[isVaultLocked="true"] {
  display: none;
}

@media screen and (max-width: 768px) {
  .select-folder {
    display: none;
  }
}

@media print {
  body {
    display: none;
  }
}
