<header>
  <div class="left">
    <a routerLink="/tabs/settings">
      <span class="header-icon"><i class="bwi bwi-angle-left" aria-hidden="true"></i></span>
      <span>{{ "back" | i18n }}</span>
    </a>
  </div>
  <h1 class="center">
    <span class="title">{{ "folders" | i18n }}</span>
  </h1>
  <div class="right">
    <button
      type="button"
      appBlurClick
      (click)="addFolder()"
      appA11yTitle="{{ 'addFolder' | i18n }}"
    >
      <i class="bwi bwi-plus bwi-lg bwi-fw" aria-hidden="true"></i>
    </button>
  </div>
</header>
<main tabindex="-1">
  <div class="box list full-list" *ngIf="(folders$ | async)?.length">
    <div class="box-content">
      <button
        type="button"
        appStopClick
        (click)="folderSelected(f)"
        class="box-content-row padded"
        *ngFor="let f of folders$ | async"
      >
        {{ f.name }}
      </button>
    </div>
  </div>
  <div class="no-items" *ngIf="!(folders$ | async)?.length">
    <p>{{ "noFolders" | i18n }}</p>
  </div>
</main>
