<div
  role="group"
  appA11yTitle="{{ cipher.name }} {{ cipher.subTitle }}"
  class="virtual-scroll-item"
  [ngClass]="{ 'override-last': !last }"
>
  <div class="box-content-row box-content-row-flex">
    <button
      type="button"
      (click)="selectCipher(cipher)"
      tabindex="0"
      appStopClick
      title="{{ title }} - {{ cipher.name }}"
      [ngClass]="{ 'row-main': true, 'row-selected': isSelected && !isSearching }"
    >
      <app-vault-icon [cipher]="cipher"></app-vault-icon>
      <div class="row-main-content">
        <span class="text">
          <span class="truncate-box">
            <span class="truncate">{{ cipher.name }}</span>
          </span>
        </span>
        <span class="detail" *ngIf="cipher.subTitle">{{ cipher.subTitle }}</span>
      </div>
    </button>
  </div>
</div>
