<popup-page>
  <popup-header slot="header" [pageTitle]="headerText" showBackButton> </popup-header>

  <vault-cipher-form
    *ngIf="!loading"
    formId="cipherForm"
    [config]="config"
    (cipherSaved)="onCipherSaved($event)"
    [submitBtn]="submitBtn"
  >
    <app-open-attachments
      slot="attachment-button"
      [cipherId]="originalCipherId"
    ></app-open-attachments>
  </vault-cipher-form>

  <popup-footer slot="footer">
    <button bitButton type="submit" form="cipherForm" buttonType="primary" #submitBtn>
      {{ "save" | i18n }}
    </button>
  </popup-footer>
</popup-page>
