**/build
**/dist
**/jslib

**/node_modules

**/webpack.*.js
**/jest.config.js
**/gulpfile.js

apps/browser/src/content/autofill.js
apps/browser/src/scripts/duo.js

apps/desktop/desktop_native
apps/desktop/src/scripts/duo.js
