# Build directories
**/build
**/dist
**/coverage
.angular
documentation.json
storybook-static

# External libraries / auto synced locales
apps/browser/src/_locales
apps/browser/src/scripts/duo.js
apps/browser/src/autofill/content/autofill.js
apps/browser/src/safari

apps/desktop/src/locales
apps/desktop/dist-safari
apps/desktop/desktop_native
apps/desktop/src/scripts/duo.js

apps/cli/src/locales
apps/cli/.github

apps/web/.github
apps/web/src/404/bootstrap.min.css
apps/web/src/locales

libs/.github

# Github Workflows
.github/workflows

# Forked library files
libs/common/src/types/deep-jsonify.ts
