$solarizedDarkBase03:    #002b36;
$solarizedDarkBase02:    #073642;
$solarizedDarkBase01:    #586e75;
$solarizedDarkBase00:    #657b83;
$solarizedDarkBase0:     #839496;
$solarizedDarkBase1:     #93a1a1;
$solarizedDarkBase2:     #eee8d5;
$solarizedDarkBase3:     #fdf6e3;
$solarizedDarkYellow:    #b58900;
$solarizedDarkOrange:    #cb4b16;
$solarizedDarkRed:       #dc322f;
$solarizedDarkMagenta:   #d33682;
$solarizedDarkViolet:    #6c71c4;
$solarizedDarkBlue:      #268bd2;
$solarizedDarkCyan:      #2aa198;
$solarizedDarkGreen:     #859900;
