<popup-page>
  <popup-header slot="header" pageTitle="{{ 'notifications' | i18n }}" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <div class="tw-bg-background-alt tw-p-2">
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h5">{{ "vaultSaveOptionsTitle" | i18n }}</h2>
      </bit-section-header>
      <bit-card>
        <div>
          <input
            type="checkbox"
            bitCheckbox
            id="use-passkeys"
            type="checkbox"
            (change)="updateEnablePasskeys()"
            [(ngModel)]="enablePasskeys"
          />
          <label for="use-passkeys">{{ "enableUsePasskeys" | i18n }}</label>
        </div>
        <div>
          <input
            id="addlogin-notification-bar"
            type="checkbox"
            bitCheckbox
            (change)="updateAddLoginNotification()"
            [(ngModel)]="enableAddLoginNotification"
          />
          <label for="addlogin-notification-bar">{{ "enableAddLoginNotification" | i18n }}</label>
        </div>
        <div>
          <input
            id="changedpass-notification-bar"
            type="checkbox"
            bitCheckbox
            (change)="updateChangedPasswordNotification()"
            [(ngModel)]="enableChangedPasswordNotification"
          />
          <label for="changedpass-notification-bar">{{
            "enableChangedPasswordNotification" | i18n
          }}</label>
        </div>
      </bit-card>
    </bit-section>
    <bit-section>
      <bit-item>
        <a bit-item-content routerLink="/excluded-domains">{{ "excludedDomains" | i18n }}</a>
        <i slot="end" class="bwi bwi-angle-right bwi-lg row-sub-icon" aria-hidden="true"></i>
      </bit-item>
    </bit-section>
  </div>
</popup-page>
