<div
  class="modal fade"
  role="dialog"
  aria-modal="true"
  [attr.aria-labelledby]="'confirmVaultImport' | i18n"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <form #form (ngSubmit)="submit()">
      <div class="form-group modal-content">
        <h2 class="tw-mt-6 tw-mb-6 tw-ml-3.5 tw-font-semibold" id="confirmVaultImport">
          {{ "confirmVaultImport" | i18n | uppercase }}
        </h2>
        <div
          class="tw-border-0 tw-border-t tw-border-solid tw-border-secondary-300 tw-pr-3.5 tw-pt-3.5 tw-pl-3.5"
        >
          {{ "confirmVaultImportDesc" | i18n }}
          <bit-form-field class="tw-w-full tw-pt-3.5">
            <bit-label>{{ "confirmFilePassword" | i18n }}</bit-label>
            <input
              bitInput
              required
              type="{{ showFilePassword ? 'text' : 'password' }}"
              name="filePassword"
              [formControl]="filePassword"
              appAutofocus
              appInputVerbatim
            />
            <button
              bitSuffix
              bitButton
              appStopClick
              appA11yTitle="{{ 'toggleVisibility' | i18n }}"
              [attr.aria-pressed]="showFilePassword"
              (click)="toggleFilePassword()"
              type="button"
            >
              <i
                class="bwi bwi-lg"
                aria-hidden="true"
                [ngClass]="{ 'bwi-eye': !showFilePassword, 'bwi-eye-slash': showFilePassword }"
              ></i>
            </button>
          </bit-form-field>
        </div>
        <div
          class="tw-flex tw-w-full tw-flex-wrap tw-items-center tw-border-0 tw-border-t tw-border-solid tw-border-secondary-300 tw-bg-background-alt tw-pl-3.5 tw-pr-3.5 tw-pb-3.5 tw-pt-4 tw-pl-4 tw-pr-4"
        >
          <button bitButton buttonType="primary" class="tw-mr-2" type="submit" appBlurClick>
            <span>{{ "importData" | i18n }}</span>
          </button>
          <button bitButton buttonType="secondary" type="button" (click)="cancel()">
            <span>{{ "cancel" | i18n }}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
