<bit-dialog #dialog dialogSize="large" background="alt">
  <span bitDialogTitle>{{ "generator" | i18n }}</span>
  <ng-container bitDialogContent>
    <tools-credential-generator />
    <bit-item>
      <button
        type="button"
        bitLink
        linkType="primary"
        bit-item-content
        aria-haspopup="dialog"
        (click)="openHistoryDialog()"
      >
        {{ "generatorHistory" | i18n }}
        <i slot="end" class="bwi bwi-angle-right" aria-hidden="true"></i>
      </button>
    </bit-item>
  </ng-container>
  <ng-container bitDialogFooter>
    <button type="button" bitButton bitFormButton buttonType="secondary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
