html.os_macos {
  body.layout_frontend {
    -webkit-app-region: drag;

    button,
    a,
    i,
    b,
    span,
    input,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img,
    select,
    textarea,
    label,
    .box,
    .modal-backdrop {
      -webkit-app-region: no-drag;
    }
  }

  .vault .header-search {
    -webkit-app-region: drag;

    input,
    i {
      -webkit-app-region: no-drag;
    }
  }

  .vault > .groupings > .content > .inner-content {
    padding-top: 0;
  }
}

.environment-selector-btn {
  font-size: $font-size-small;
  color: $text-muted;
  line-height: 25px;
  font-weight: 400;
  padding-left: 5px;

  label {
    font-weight: 600;
  }

  a,
  a label:hover {
    cursor: pointer;
  }
}

.environment-selector-dialog {
  @include themify($themes) {
    background-color: themed("boxBackgroundColor");
  }
  padding: 5px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
}

.environment-selector-dialog-item {
  @include themify($themes) {
    color: themed("textColor") !important;
  }
  width: 100%;
  text-align: left;
  padding: 0px 15px 0px 5px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    @include themify($themes) {
      background-color: themed("listItemBackgroundHoverColor") !important;
    }
  }

  img {
    margin-bottom: -2px;
    width: 22px;
    height: 14px;
  }

  .img-us {
    content: url("../images/us-flag.png");
  }

  .img-eu {
    content: url("../images/eu-flag.png");
  }
}
