<section>
  <header class="tw-flex tw-max-w-min tw-items-center tw-gap-2">
    <div><ng-content select="[slot=summary]"></ng-content></div>
    <button
      type="button"
      [bitIconButton]="open ? 'bwi-angle-up' : 'bwi-angle-down'"
      (click)="toggle()"
      [attr.aria-expanded]="open"
      [attr.aria-controls]="contentId"
      [label]="'toggleVisibility' | i18n"
    ></button>
  </header>
  <div *ngIf="open" [attr.id]="contentId" class="tw-mt-4">
    <ng-content></ng-content>
  </div>
</section>
