<div id="remove-password-page" *ngIf="!loading">
  <div class="content">
    <h1>{{ "removeMasterPassword" | i18n }}</h1>
    <p>{{ "removeMasterPasswordForOrganizationUserKeyConnector" | i18n }}</p>
    <p class="tw-mb-0">{{ "organizationName" | i18n }}:</p>
    <p class="tw-text-muted tw-mb-6">{{ organization.name }}</p>
    <p class="tw-mb-0">{{ "keyConnectorDomain" | i18n }}:</p>
    <p class="tw-text-muted tw-mb-6">{{ organization.keyConnectorUrl }}</p>
    <div class="buttons">
      <button type="submit" class="btn primary block" [disabled]="action" (click)="convert()">
        <b [hidden]="continuing">{{ "removeMasterPassword" | i18n }}</b>
        <i class="bwi bwi-spinner bwi-spin" [hidden]="!continuing" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn secondary block" [disabled]="action" (click)="leave()">
        <b [hidden]="leaving">{{ "leaveOrganization" | i18n }}</b>
        <i class="bwi bwi-spinner bwi-spin" [hidden]="!leaving" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
