<app-vault-list-items-container
  *ngIf="autofillCiphers$ | async as ciphers"
  [ciphers]="ciphers"
  [title]="'autofillSuggestions' | i18n"
  [showRefresh]="showRefresh"
  (onRefresh)="refreshCurrentTab()"
  showAutofillButton
></app-vault-list-items-container>
<ng-container *ngIf="showEmptyAutofillTip$ | async">
  <bit-section>
    <popup-section-header [title]="'autofillSuggestions' | i18n">
      <button
        *ngIf="showRefresh"
        bitIconButton="bwi-refresh"
        size="small"
        slot="title-suffix"
        type="button"
        [appA11yTitle]="'refresh' | i18n"
        (click)="refreshCurrentTab()"
      ></button>
    </popup-section-header>
    <span class="tw-text-muted tw-px-1" bitTypography="body2">{{
      "autofillSuggestionsTip" | i18n
    }}</span>
  </bit-section>
</ng-container>
