<form
  id="register-page"
  #form
  (ngSubmit)="submit()"
  [appApiAction]="formPromise"
  [formGroup]="formGroup"
>
  <div class="content">
    <h1>{{ "createAccount" | i18n }}</h1>
    <div class="box">
      <div class="box-content">
        <div class="box-content-row" appBoxRow>
          <label for="email">{{ "emailAddress" | i18n }}</label>
          <input id="email" type="email" formControlName="email" appInputVerbatim />
        </div>
        <div class="box-content-row" appBoxRow>
          <div class="box-content-row-flex">
            <div class="row-main">
              <label for="masterPassword">
                {{ "masterPass" | i18n }}
                <strong class="sub-label text-{{ color }}" *ngIf="text">
                  {{ text }}
                </strong>
              </label>
              <input
                id="masterPassword"
                type="{{ showPassword ? 'text' : 'password' }}"
                class="monospaced"
                aria-describedby="masterPasswordHelp"
                formControlName="masterPassword"
                appInputVerbatim
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'toggleVisibility' | i18n }}"
                [attr.aria-pressed]="showPassword"
                (click)="togglePassword()"
              >
                <i
                  class="bwi bwi-lg"
                  aria-hidden="true"
                  [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
                ></i>
              </button>
            </div>
          </div>
          <app-password-strength
            [password]="formGroup.get('masterPassword')?.value"
            [email]="formGroup.get('email')?.value"
            [name]="formGroup.get('name')?.value"
            (passwordStrengthResult)="getStrengthResult($event)"
            (passwordScoreColor)="getPasswordScoreText($event)"
          >
          </app-password-strength>
        </div>
      </div>
      <div id="masterPasswordHelp" class="box-footer">
        <b>{{ "important" | i18n }}</b> {{ "masterPasswordHint" | i18n }}
        {{ characterMinimumMessage }}
      </div>
    </div>
    <div class="box">
      <div class="box-content">
        <div class="box-content-row box-content-row-flex" appBoxRow>
          <div class="row-main">
            <label for="masterPasswordRetype">{{ "reTypeMasterPass" | i18n }}</label>
            <input
              id="masterPasswordRetype"
              type="{{ showPassword ? 'text' : 'password' }}"
              class="monospaced"
              formControlName="confirmMasterPassword"
              appInputVerbatim
            />
          </div>
          <div class="action-buttons">
            <button
              type="button"
              class="row-btn"
              appStopClick
              appA11yTitle="{{ 'toggleVisibility' | i18n }}"
              [attr.aria-pressed]="showPassword"
              (click)="togglePassword()"
            >
              <i
                class="bwi bwi-lg"
                aria-hidden="true"
                [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
              ></i>
            </button>
          </div>
        </div>
        <div class="box-content-row" appBoxRow>
          <label for="hint">{{ "masterPassHint" | i18n }}</label>
          <input id="hint" type="text" aria-describedby="hintHelp" formControlName="hint" />
        </div>
        <div class="box last" [hidden]="!showCaptcha()">
          <div class="box-content">
            <div class="box-content-row">
              <iframe id="hcaptcha_iframe" height="80"></iframe>
              <button class="btn block" type="button" routerLink="/accessibility-cookie">
                <i class="bwi bwi-universal-access" aria-hidden="true"></i>
                {{ "loadAccessibilityCookie" | i18n }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="hintHelp" class="box-footer">
        {{ "masterPassHintDesc" | i18n }}
      </div>
    </div>

    <div class="box last">
      <div class="box-footer checkbox">
        <input type="checkbox" id="checkForBreaches" formControlName="checkForBreaches" />
        <label for="checkForBreaches">
          {{ "checkForBreaches" | i18n }}
        </label>
      </div>
      <div class="box-footer checkbox" *ngIf="showTerms">
        <input type="checkbox" id="acceptPolicies" formControlName="acceptPolicies" />
        <label for="acceptPolicies">
          {{ "acceptPolicies" | i18n }}<br />
          <a href="https://bitwarden.com/terms/" target="_blank" rel="noopener">{{
            "termsOfService" | i18n
          }}</a
          >,
          <a href="https://bitwarden.com/privacy/" target="_blank" rel="noopener">{{
            "privacyPolicy" | i18n
          }}</a>
        </label>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn primary block" [disabled]="form.loading">
        <b [hidden]="form.loading">{{ "submit" | i18n }}</b>
        <i class="bwi bwi-spinner bwi-spin" [hidden]="!form.loading" aria-hidden="true"></i>
      </button>
      <button type="button" routerLink="/login" class="btn block">{{ "cancel" | i18n }}</button>
    </div>
  </div>
</form>
