<div [formGroup]="form">
  <div class="form-group">
    <label for="vaultTimeout">{{ "vaultTimeout" | i18n }}</label>
    <select
      id="vaultTimeout"
      name="VaultTimeout"
      aria-describedby="vaultTimeoutHelp"
      formControlName="vaultTimeout"
      class="form-control"
    >
      <option *ngFor="let o of vaultTimeoutOptions" [ngValue]="o.value">{{ o.name }}</option>
    </select>
    <small id="vaultTimeoutHelp" class="help-block">{{ "vaultTimeoutDesc" | i18n }}</small>
  </div>
  <div class="form-group row" *ngIf="showCustom" formGroupName="custom">
    <div class="col">
      <label for="hours">{{ "hours" | i18n }}</label>
      <input
        id="hours"
        class="form-control"
        type="number"
        min="0"
        name="hours"
        formControlName="hours"
      />
    </div>
    <div class="col">
      <label for="minutes">{{ "minutes" | i18n }}</label>
      <input
        id="minutes"
        class="form-control"
        type="number"
        min="0"
        max="59"
        name="minutes"
        formControlName="minutes"
      />
    </div>
  </div>
  <div class="form-group"></div>
  <!-- Styling fix -->
</div>
