<app-header>
  <bit-search
    [placeholder]="'searchSecrets' | i18n"
    [(ngModel)]="search"
    class="tw-w-80"
  ></bit-search>
  <sm-new-menu></sm-new-menu>
</app-header>
<sm-secrets-list
  (deleteSecretsEvent)="openDeleteSecret($event)"
  (newSecretEvent)="openNewSecretDialog()"
  (editSecretEvent)="openEditSecret($event)"
  (viewSecretEvent)="openViewSecret($event)"
  (copySecretNameEvent)="copySecretName($event)"
  (copySecretValueEvent)="copySecretValue($event)"
  (copySecretUuidEvent)="copySecretUuid($event)"
  [secrets]="secrets$ | async"
  [search]="search"
></sm-secrets-list>
