<button
  *ngIf="account.id !== specialAccountAddId"
  type="button"
  class="tw-flex tw-w-full tw-items-center tw-gap-3 tw-rounded-md tw-border-none tw-bg-background tw-p-3 hover:tw-bg-background-alt"
  (click)="selectAccount(account.id)"
>
  <div class="tw-flex-shrink-0">
    <bit-avatar
      [id]="account.id"
      [text]="account.name"
      [color]="account.avatarColor"
      size="small"
      aria-hidden="true"
    ></bit-avatar>
  </div>
  <div class="tw-text-left">
    <span class="tw-sr-only" *ngIf="status.text === 'active'"> {{ "activeAccount" | i18n }}: </span>
    <span class="tw-sr-only" *ngIf="status.text !== 'active'">
      {{ "switchToAccount" | i18n }}
    </span>
    <div class="tw-max-w-64 tw-truncate tw-text-main">
      {{ account.email }}
    </div>
    <div class="tw-max-w-64 tw-truncate tw-text-sm tw-text-muted">
      <span class="tw-sr-only">{{ "hostedAt" | i18n }}</span>
      {{ account.server }}
    </div>
    <div class="tw-text-sm tw-italic tw-text-muted" [attr.aria-hidden]="status.text === 'active'">
      <span class="tw-sr-only">(</span>
      {{ status.text }}
      <span class="tw-sr-only">)</span>
    </div>
  </div>
  <div class="tw-ml-auto tw-flex-shrink-0">
    <i class="bwi tw-text-2xl tw-text-main" [ngClass]="status.icon" aria-hidden="true"></i>
  </div>
</button>

<button
  *ngIf="account.id === specialAccountAddId"
  type="button"
  class="tw-flex tw-w-full tw-items-center tw-gap-3 tw-rounded-md tw-border-none tw-bg-background tw-p-3 hover:tw-bg-background-alt"
  (click)="selectAccount(account.id)"
>
  <i class="bwi bwi-plus tw-text-2xl tw-text-main" aria-hidden="true"></i>
  <div class="tw-text-main">
    {{ account.name }}
  </div>
</button>
