<!-- Please remove this disable statement when editing this file! -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="confirmUserTitle">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <form class="modal-content" #form (ngSubmit)="submit()">
      <h2 class="tw-my-6 tw-px-3.5 tw-font-semibold" id="modalTitle | i18n ">
        {{ modalTitle | i18n | uppercase }}
      </h2>
      <div class="tw-border-0 tw-border-t tw-border-solid tw-border-secondary-300 tw-p-3.5">
        {{ confirmDescription | i18n }}
      </div>
      <div class="tw-p-3.5">
        <app-user-verification ngDefaultControl [formControl]="secret" name="secret">
        </app-user-verification>
      </div>
      <div
        class="tw-border-0 tw-border-t tw-border-solid tw-border-secondary-300 tw-bg-background-alt tw-p-3.5"
      >
        <button bitButton buttonType="primary" type="submit" appBlurClick>
          <span>{{ confirmButtonText | i18n }}</span>
        </button>
        <button bitButton buttonType="secondary" data-dismiss="modal">
          {{ "cancel" | i18n }}
        </button>
      </div>
    </form>
  </div>
</div>
