<form [formGroup]="formGroup" [bitSubmit]="submit" class="tw-mt-5">
  <bit-form-field>
    <bit-label>{{ label }}</bit-label>
    <bit-multi-select
      class="tw-mr-4 tw-w-full"
      formControlName="multiSelect"
      [baseItems]="selectItemsView$ | async"
      [loading]="loading"
    ></bit-multi-select>
    <bit-hint>{{ hint }}</bit-hint>
    <button type="submit" bitButton buttonType="primary" bitFormButton>
      {{ "add" | i18n }}
    </button>
  </bit-form-field>
</form>

<ng-container *ngIf="rows$ | async as rows; else spinner">
  <bit-table>
    <ng-container header>
      <tr>
        <th bitCell colspan="2">{{ columnTitle }}</th>
        <th bitCell>{{ "permissions" | i18n }}</th>
      </tr>
    </ng-container>

    <ng-template body>
      <ng-container *ngIf="rows?.length > 0; else empty">
        <tr bitRow *ngFor="let row of rows">
          <td bitCell class="tw-w-0 tw-pr-0">
            <i class="bwi {{ row.icon }} tw-text-xl tw-text-muted" aria-hidden="true"></i>
          </td>
          <td bitCell>{{ row.name }}</td>
          <td bitCell *ngIf="row.type == 'serviceAccount'">
            <bit-form-field class="tw-inline-block tw-w-auto">
              <select bitInput disabled>
                <option value="canRead" selected>{{ "canRead" | i18n }}</option>
              </select>
            </bit-form-field>
          </td>
          <td bitCell *ngIf="row.type != 'serviceAccount'">
            <bit-form-field class="tw-inline-block tw-w-auto">
              <select bitInput (change)="updateAccessPolicy($event.target, row.id)">
                <option value="canRead" [selected]="row.read && row.write != true">
                  {{ "canRead" | i18n }}
                </option>
                <option value="canWrite" [selected]="row.read != true && row.write">
                  {{ "canWrite" | i18n }}
                </option>
                <option value="canReadWrite" [selected]="row.read && row.write">
                  {{ "canReadWrite" | i18n }}
                </option>
              </select>
            </bit-form-field>
          </td>
          <td bitCell class="tw-w-0">
            <button
              type="button"
              bitIconButton="bwi-close"
              buttonType="main"
              size="default"
              [attr.title]="'close' | i18n"
              [attr.aria-label]="'close' | i18n"
              [bitAction]="delete(row.id)"
            ></button>
          </td>
        </tr>
      </ng-container>
    </ng-template>
  </bit-table>
</ng-container>

<ng-template #empty>
  <div class="tw-mt-4 tw-text-center">
    {{ emptyMessage }}
  </div>
</ng-template>

<ng-template #spinner>
  <div class="tw-items-center tw-justify-center tw-pt-64 tw-text-center">
    <i class="bwi bwi-spinner bwi-spin bwi-3x"></i>
  </div>
</ng-template>
