<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog dialogSize="default">
    <ng-container bitDialogTitle>{{ "newServiceAccount" | i18n }}</ng-container>
    <div bitDialogContent>
      <bit-form-field>
        <bit-label>{{ "serviceAccountName" | i18n }}</bit-label>
        <input formControlName="name" bitInput />
      </bit-form-field>
      <h3 class="tw-uppercase">{{ "smAccess" | i18n }}</h3>

      <bit-form-field>
        <bit-label>{{ "newSaSelectAccess" | i18n }}</bit-label>
        <select bitInput>
          <!-- TODO need to look into creating a bit autocomplete component? -->
          <option selected disabled hidden>-- {{ "newSaTypeToFilter" | i18n }} --</option>
          <option *ngFor="let project of projects">
            {{ project.name }}
          </option>
          <option *ngFor="let secret of secrets">
            {{ secret.name }}
          </option>
        </select>
      </bit-form-field>

      <bit-table>
        <ng-container header>
          <tr>
            <th bitCell>{{ "projectCommaSecret" | i18n }}</th>
            <th bitCell>{{ "permissions" | i18n }}</th>
          </tr>
        </ng-container>
        <ng-template body>
          <tr>
            <!-- TODO once access is implement display selected access -->
            <td bitCell>example</td>
            <td bitCell>example</td>
          </tr>
        </ng-template>
      </bit-table>
    </div>
    <div bitDialogFooter class="tw-flex tw-gap-2">
      <button type="submit" bitButton buttonType="primary" bitFormButton>
        {{ "save" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitFormButton bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
    </div>
  </bit-dialog>
</form>
