<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog dialogSize="small">
    <ng-container bitDialogTitle>{{ "newServiceAccount" | i18n }}</ng-container>
    <div bitDialogContent>
      <bit-form-field>
        <bit-label>{{ "serviceAccountName" | i18n }}</bit-label>
        <input formControlName="name" bitInput />
      </bit-form-field>
    </div>
    <div bitDialogFooter class="tw-flex tw-gap-2">
      <button type="submit" bitButton buttonType="primary" bitFormButton>
        {{ "save" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitFormButton bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
    </div>
  </bit-dialog>
</form>
