<div
  class="tw-block tw-h-full tw-overflow-hidden tw-rounded tw-border tw-border-solid tw-border-secondary-600 tw-relative tw-transition-all xl:tw-w-64 hover:tw-scale-105 focus-within:tw-outline-none focus-within:tw-ring focus-within:tw-ring-primary-700 focus-within:tw-ring-offset-2"
>
  <div
    class="tw-flex tw-h-36 tw-bg-secondary-100 tw-items-center tw-justify-center tw-py-2 tw-px-6 lg:tw-py-4 lg:tw-px-12"
  >
    <div class="tw-flex tw-items-center tw-justify-center tw-h-28 tw-w-28 lg:tw-w-40">
      <img
        #imageEle
        [src]="image"
        alt=""
        class="tw-block tw-mx-auto tw-h-auto tw-max-w-full tw-max-h-full"
      />
    </div>
  </div>
  <div class="tw-p-5">
    <h3 class="tw-mb-4 tw-text-lg tw-font-semibold">{{ name }}</h3>
    <a
      class="tw-block tw-mb-0 tw-font-bold hover:tw-no-underline focus:tw-outline-none after:tw-content-[''] after:tw-block after:tw-absolute after:tw-w-full after:tw-h-full after:tw-left-0 after:tw-top-0"
      [href]="linkURL"
      [rel]="[externalURL ? 'noopener noreferrer' : null]"
    >
      {{ linkText }}
    </a>
    <span *ngIf="showNewBadge()" bitBadge class="tw-mt-3" variant="secondary">
      {{ "new" | i18n }}
    </span>
  </div>
</div>
