<bit-section *ngIf="ciphers?.length > 0 || description">
  <bit-section-header>
    <h2 bitTypography="h6">
      {{ title }}
    </h2>
    <button
      *ngIf="showRefresh"
      bitIconButton="bwi-refresh"
      type="button"
      size="small"
      (click)="onRefresh.emit()"
      [appA11yTitle]="'refresh' | i18n"
    ></button>
    <span bitTypography="body2" slot="end">{{ ciphers.length }}</span>
  </bit-section-header>
  <div *ngIf="description" class="tw-text-muted tw-px-1 tw-mb-2" bitTypography="body2">
    {{ description }}
  </div>
  <bit-item-group>
    <bit-item *ngFor="let cipher of ciphers">
      <a
        bit-item-content
        [routerLink]="['/view-cipher']"
        [queryParams]="{ cipherId: cipher.id }"
        [appA11yTitle]="'viewItemTitle' | i18n: cipher.name"
      >
        <app-vault-icon slot="start" [cipher]="cipher"></app-vault-icon>
        <span data-testid="item-name">{{ cipher.name }}</span>
        <i
          class="bwi bwi-sm"
          *ngIf="cipher.organizationId"
          [ngClass]="cipher.orgIcon"
          [appA11yTitle]="orgIconTooltip(cipher)"
        ></i>
        <span slot="secondary">{{ cipher.subTitle }}</span>
      </a>
      <ng-container slot="end">
        <bit-item-action *ngIf="showAutofillButton">
          <button
            type="button"
            bitBadge
            variant="primary"
            (click)="doAutofill(cipher)"
            [title]="'autofillTitle' | i18n: cipher.name"
            [attr.aria-label]="'autofillTitle' | i18n: cipher.name"
          >
            {{ "autoFill" | i18n }}
          </button>
        </bit-item-action>
        <app-item-copy-actions [cipher]="cipher"></app-item-copy-actions>
        <app-item-more-options
          [cipher]="cipher"
          [hideAutofillOptions]="showAutofillButton"
        ></app-item-more-options>
      </ng-container>
    </bit-item>
  </bit-item-group>
</bit-section>
