<ul
  class="tw-inline-grid tw-grid-cols-3 tw-gap-6 tw-m-0 tw-p-0 tw-w-full tw-auto-cols-auto tw-list-none lg:tw-grid-cols-4 lg:tw-gap-10 lg:tw-w-auto"
>
  <li *ngFor="let integration of integrations">
    <sm-integration-card
      [name]="integration.name"
      [linkText]="integration.linkText"
      [linkURL]="integration.linkURL"
      [image]="integration.image"
      [imageDarkMode]="integration.imageDarkMode"
      [externalURL]="integration.type === IntegrationType.SDK"
      [newBadgeExpiration]="integration.newBadgeExpiration"
    ></sm-integration-card>
  </li>
</ul>
