<div
  role="group"
  appA11yTitle="{{ cipher.name }}"
  class="virtual-scroll-item"
  [ngClass]="{ 'override-last': !last }"
>
  <div class="box-content-row box-content-row-flex">
    <button
      type="button"
      (click)="selectCipher(cipher)"
      (dblclick)="launchCipher(cipher)"
      appStopClick
      title="{{ title }} - {{ cipher.name }}"
      class="row-main"
    >
      <app-vault-icon [cipher]="cipher"></app-vault-icon>
      <div class="row-main-content">
        <span class="text">
          <span class="truncate-box">
            <span class="truncate">{{ cipher.name }}</span>
            <ng-container *ngIf="cipher.organizationId">
              <i
                class="bwi bwi-collection text-muted"
                title="{{ 'shared' | i18n }}"
                aria-hidden="true"
              ></i>
              <span class="sr-only">{{ "shared" | i18n }}</span>
            </ng-container>
            <ng-container *ngIf="cipher.hasAttachments">
              <i
                class="bwi bwi-paperclip text-muted"
                title="{{ 'attachments' | i18n }}"
                aria-hidden="true"
              ></i>
              <span class="sr-only">{{ "attachments" | i18n }}</span>
            </ng-container>
          </span>
        </span>
        <span class="detail">{{ cipher.subTitle }}</span>
      </div>
    </button>
    <app-action-buttons
      [cipher]="cipher"
      [showView]="showView"
      (onView)="viewCipher(cipher)"
      (launchEvent)="launchCipher(cipher)"
      class="action-buttons"
    >
    </app-action-buttons>
  </div>
</div>
