<bit-item-action>
  <button
    type="button"
    bitIconButton="bwi-ellipsis-v"
    size="small"
    [attr.aria-label]="'moreOptionsLabel' | i18n: cipher.name"
    [title]="'moreOptionsTitle' | i18n: cipher.name"
    [bitMenuTriggerFor]="moreOptions"
  ></button>
  <bit-menu #moreOptions>
    <ng-container *ngIf="canAutofill && !hideAutofillOptions">
      <ng-container *ngIf="autofillAllowed$ | async">
        <button type="button" bitMenuItem (click)="doAutofill()">
          {{ "autofill" | i18n }}
        </button>
        <button type="button" bitMenuItem *ngIf="canEdit && isLogin" (click)="doAutofillAndSave()">
          {{ "fillAndSave" | i18n }}
        </button>
      </ng-container>
      <button type="button" bitMenuItem *ngIf="this.canLaunch" (click)="launchCipher()">
        {{ "launchWebsite" | i18n }}
      </button>
    </ng-container>
    <button type="button" bitMenuItem (click)="toggleFavorite()">
      {{ favoriteText | i18n }}
    </button>
    <ng-container *ngIf="canEdit">
      <a routerLink="" bitMenuItem (click)="clone()">
        {{ "clone" | i18n }}
      </a>
      <button type="button" bitMenuItem>
        {{ "assignCollections" | i18n }}
      </button>
    </ng-container>
  </bit-menu>
</bit-item-action>
