<div id="login-with-device-page">
  <div id="content" class="content">
    <img class="logo-image" alt="Bitwarden" />

    <ng-container *ngIf="state == StateEnum.StandardAuthRequest">
      <p class="lead text-center">{{ "logInRequestSent" | i18n }}</p>

      <div class="box last">
        <div class="box-content">
          <div class="box-content-row" appBoxRow>
            <div class="section">
              <p class="section">
                {{ "notificationSentDevicePart1" | i18n }}
                <a
                  bitLink
                  linkType="primary"
                  class="tw-cursor-pointer"
                  [href]="deviceManagementUrl"
                  target="_blank"
                  rel="noreferrer"
                  >{{ "notificationSentDeviceAnchor" | i18n }}</a
                >. {{ "notificationSentDevicePart2" | i18n }}
              </p>
            </div>

            <div class="fingerprint section">
              <h4>{{ "fingerprintPhraseHeader" | i18n }}</h4>
              <code>{{ fingerprintPhrase }}</code>
            </div>

            <div class="section" *ngIf="showResendNotification">
              <a [routerLink]="[]" disabled="true" (click)="startAuthRequestLogin()">{{
                "resendNotification" | i18n
              }}</a>
            </div>

            <div class="sub-options another-method">
              <p class="no-margin description-text">
                {{ "needAnotherOption" | i18n }}
                <a type="button" class="text text-primary" (click)="back()">
                  {{ "viewAllLoginOptions" | i18n }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="state == StateEnum.AdminAuthRequest">
      <p class="lead text-center">{{ "adminApprovalRequested" | i18n }}</p>

      <div class="box last">
        <div class="box-content">
          <div class="box-content-row" appBoxRow>
            <div class="section">
              <p class="section">{{ "adminApprovalRequestSentToAdmins" | i18n }}</p>
              <p class="section">{{ "youWillBeNotifiedOnceApproved" | i18n }}</p>
            </div>

            <div class="fingerprint section">
              <h4>{{ "fingerprintPhraseHeader" | i18n }}</h4>
              <code>{{ fingerprintPhrase }}</code>
            </div>

            <div class="sub-options another-method">
              <p class="no-margin description-text">
                {{ "troubleLoggingIn" | i18n }}
                <a type="button" class="text text-primary" (click)="back()">
                  {{ "viewAllLoginOptions" | i18n }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #environment></ng-template>
