<bit-simple-dialog>
  <span bitDialogTitle>{{ title | i18n }}</span>
  <span bitDialogContent>
    {{
      data.secretIds.length === 1 ? ("restoreSecretPrompt" | i18n) : ("restoreSecretsPrompt" | i18n)
    }}
  </span>
  <div bitDialogFooter class="tw-flex tw-gap-2">
    <button type="button" bitButton buttonType="primary" [bitAction]="restore">
      {{ title | i18n }}
    </button>
    <button type="button" bitButton buttonType="secondary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </div>
</bit-simple-dialog>
