<bit-simple-dialog>
  <span bitDialogTitle>{{ title | i18n }}</span>
  <span bitDialogContent>
    {{
      data.secretIds.length === 1
        ? ("hardDeleteSecretConfirmation" | i18n)
        : ("hardDeleteSecretsConfirmation" | i18n)
    }}
  </span>
  <ng-container bitDialogFooter>
    <button type="button" bitButton buttonType="primary" [bitAction]="delete">
      {{ submitButtonText | i18n }}
    </button>
    <button type="button" bitButton buttonType="secondary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </ng-container>
</bit-simple-dialog>
