<bit-simple-dialog>
  <span bitDialogTitle>{{ title | i18n }}</span>
  <span bitDialogContent class="tw-text-sm">
    <div *ngIf="data.secretIds.length === 1">
      {{ "softDeleteSecretWarning" | i18n }}
    </div>
    {{ "deleteItemConfirmation" | i18n }}
  </span>
  <div bitDialogFooter class="tw-flex tw-gap-2">
    <button type="button" bitButton buttonType="primary" [bitAction]="delete">
      {{ title | i18n }}
    </button>
    <button type="button" bitButton buttonType="secondary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </div>
</bit-simple-dialog>
