<form [formGroup]="formGroup">
  <bit-dialog
    dialogSize="large"
    [loading]="loading"
    [title]="'viewSecret' | i18n"
    [subtitle]="formGroup.get('name').value"
  >
    <ng-container bitDialogContent class="tw-relative">
      <div class="tw-flex tw-gap-4 tw-pt-4">
        <bit-form-field class="tw-w-1/3">
          <bit-label>{{ "name" | i18n }}</bit-label>
          <input appAutofocus formControlName="name" bitInput />
        </bit-form-field>
        <bit-form-field class="tw-w-full">
          <bit-label>{{ "value" | i18n }}</bit-label>
          <textarea bitInput rows="4" formControlName="value"></textarea>
        </bit-form-field>
      </div>
      <bit-form-field>
        <bit-label>{{ "notes" | i18n }}</bit-label>
        <textarea bitInput rows="4" formControlName="notes"></textarea>
      </bit-form-field>
    </ng-container>
    <ng-container bitDialogFooter>
      <button type="button" bitButton buttonType="primary" bitFormButton bitDialogClose>
        {{ "close" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
