@import "variables.scss";

app-sync {
  main {
    .btn {
      margin-bottom: 10px;
    }
  }
}

app-generator .generated-block {
  font-size: $font-size-large;
  font-family: $font-family-monospace;
  margin: 10px;
  padding: 10px 10px 10px 0;
  display: flex;
  border-radius: $border-radius;
  border: 1px solid;

  @include themify($themes) {
    background-color: transparent;
    border-color: themed("borderColorAlt");
  }

  .generated-wrapper {
    text-align: left;
    width: 100%;
    min-width: 0;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 15px;
    border-radius: $border-radius;

    @include themify($themes) {
      background-color: themed("backgroundColor");
    }
  }

  .action-buttons {
    display: flex;
    align-self: center;
    height: 100%;
    margin-left: 10px;

    button {
      padding: 6px;
      margin: 2px;
      border-radius: $border-radius;

      &:hover {
        @include themify($themes) {
          background-color: themed("hoverColorTransparent");
        }
      }
    }
  }
}

app-home {
  position: fixed;
  height: 100%;
  width: 100%;

  .center-content {
    margin-top: -50px;
    height: calc(100% + 50px);
  }

  img {
    width: 284px;
    margin: 0 auto;
  }

  p.lead {
    margin: 30px 0;
  }

  .btn + .btn {
    margin-top: 10px;
  }

  button.settings-icon {
    position: absolute;
    top: 10px;
    left: 10px;

    @include themify($themes) {
      color: themed("mutedColor");
    }

    &:not(:hover):not(:focus) {
      span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;

      @include themify($themes) {
        color: themed("primaryColor");
      }
    }
  }
}

.app-private-mode-warning {
  display: block;
  padding-top: 1rem;
}

body.body-sm,
body.body-xs {
  app-home {
    .center-content {
      margin-top: 0;
      height: 100%;
    }

    p.lead {
      margin: 15px 0;
    }
  }
}

body.body-full {
  app-home {
    .center-content {
      margin-top: -80px;
      height: calc(100% + 80px);
    }
  }
}

.createAccountLink {
  padding: 30px 10px 0 10px;
}

.login-buttons > button {
  margin: 15px 0 15px 0;
}

app-options {
  .box {
    margin: 10px 0;

    & + .box {
      margin-top: 10px;
    }
  }
}

app-vault-view,
app-vault-add-edit,
app-generator {
  .box {
    margin: 15px 0 25px 0;

    & + .box {
      margin-top: 25px;
    }
  }
}
