@import "variables.scss";

app-sync {
  main {
    .btn {
      margin-bottom: 10px;
    }
  }
}

app-generator .generated-block {
  font-size: $font-size-large;
  font-family: $font-family-monospace;
  margin: 20px;
  display: flex;

  .generated-wrapper {
    text-align: left;
    width: 100%;
    min-width: 0;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .action-buttons {
    display: flex;
    align-self: center;

    button {
      padding: 5px;
      margin: -5px -5px 5px 5px;
    }
  }
}

app-home {
  position: fixed;
  height: 100%;
  width: 100%;

  .center-content {
    margin-top: -50px;
    height: calc(100% + 50px);
  }

  img {
    width: 284px;
    margin: 0 auto;
  }

  p.lead {
    margin: 30px 0;
  }

  .btn + .btn {
    margin-top: 10px;
  }

  button.settings-icon {
    position: absolute;
    top: 10px;
    left: 10px;

    @include themify($themes) {
      color: themed("mutedColor");
    }

    &:not(:hover):not(:focus) {
      span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;

      @include themify($themes) {
        color: themed("primaryColor");
      }
    }
  }
}

.app-private-mode-warning {
  display: block;
  padding-top: 1rem;
}

body.body-sm,
body.body-xs {
  app-home {
    .center-content {
      margin-top: 0;
      height: 100%;
    }

    p.lead {
      margin: 15px 0;
    }
  }
}

body.body-full {
  app-home {
    .center-content {
      margin-top: -80px;
      height: calc(100% + 80px);
    }
  }
}

.createAccountLink {
  padding-top: 30px;
}

.login-buttons > button {
  margin: 15px 0 15px 0;
}
