#!/usr/bin/make -f

export DH_VERBOSE = 1
MAKEFLAGS += --no-print-directory

# use node provided by nvm if available
NVM_BIN = $(shell bash -c ". $(HOME)/.nvm/nvm.sh; printenv NVM_BIN" 2>/dev/null)
ifneq ($(NVM_BIN), "")
export PATH := $(NVM_BIN):$(PATH)
endif

%:
	dh $@

override_dh_auto_configure:
# copy images
	cp -rf debian/patches/resources/* apps/web/

override_dh_auto_build:
# install dependencies
	npm ci
	npm audit fix || true

# Build the web-vault
	cd apps/web; npm run dist:oss:selfhost
	dpkg-parsechangelog -S Version | xargs printf '{"version":"%s"}' > apps/web/build/vw-version.json

	dh_auto_build
