#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DH_VERBOSE = 1
MAKEFLAGS += --no-print-directory

# use node provided by nvm if available. Remove for correct debian policy.
# I had to make a compatibility to allow `npm` to be provided with help of `nvm` since my distro didn't provide a recent enough version. Only using official apt sources would be cleaner.
NVM_BIN = $(shell bash -c ". $(HOME)/.nvm/nvm.sh; printenv NVM_BIN" 2>/dev/null)
ifneq ($(NVM_BIN), "")
export PATH := $(NVM_BIN):$(PATH)
endif

%:
	dh $@

override_dh_auto_configure:
# copy images
	cp -rf debian/patches/resources/src/* apps/web/src/
# replace inline file contents
	sed -i 's|^<svg.*|$(shell cat debian/patches/resources/vaultwarden-admin-console-logo.svg)|' apps/web/src/app/admin-console/icons/admin-console-logo.ts
	sed -i 's|^<svg.*|$(shell cat debian/patches/resources/vaultwarden-password-manager-logo.svg)|' apps/web/src/app/layouts/password-manager-logo.ts

override_dh_auto_build:
# install dependencies
	npm ci

# Build the web-vault
	cd apps/web; npm run dist:oss:selfhost
	printf '{"version":"%s"}' "$(DEB_VERSION_UPSTREAM)" > apps/web/build/vw-version.json

	dh_auto_build
