<div class="container page-content">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">{{ "billing" | i18n }}</div>
        <div class="list-group list-group-flush">
          <a routerLink="subscription" class="list-group-item" routerLinkActive="active">
            {{ "subscription" | i18n }}
          </a>
          <a
            *ngIf="showPaymentAndHistory"
            routerLink="payment-method"
            class="list-group-item"
            routerLinkActive="active"
          >
            {{ "paymentMethod" | i18n }}
          </a>
          <a
            *ngIf="showPaymentAndHistory"
            routerLink="history"
            class="list-group-item"
            routerLinkActive="active"
          >
            {{ "billingHistory" | i18n }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
