<div class="page-header">
  <h1>
    {{ "subscription" | i18n }}
    <small *ngIf="firstLoaded && loading">
      <i
        class="bwi bwi-spinner bwi-spin text-muted"
        title="{{ 'loading' | i18n }}"
        aria-hidden="true"
      ></i>
      <span class="sr-only">{{ "loading" | i18n }}</span>
    </small>
  </h1>
</div>

<ng-container *ngIf="!firstLoaded && loading">
  <i class="bwi bwi-spinner bwi-spin text-muted" title="{{ 'loading' | i18n }}"></i>
  <span class="sr-only">{{ "loading" | i18n }}</span>
</ng-container>

<app-org-subscription-hidden
  *ngIf="firstLoaded && !userOrg.canManageBilling"
  [providerName]="userOrg.providerName"
></app-org-subscription-hidden>

<ng-container *ngIf="sub && firstLoaded">
  <dl>
    <dt>{{ "billingPlan" | i18n }}</dt>
    <dd>{{ sub.plan.name }}</dd>
    <dt>{{ "expiration" | i18n }}</dt>
    <dd *ngIf="sub.expiration">
      {{ sub.expiration | date: "mediumDate" }}
      <span *ngIf="isExpired" class="text-danger ml-2">
        <i class="bwi bwi-exclamation-triangle" aria-hidden="true"></i>
        {{ "licenseIsExpired" | i18n }}
      </span>
    </dd>
    <dd *ngIf="!sub.expiration">{{ "neverExpires" | i18n }}</dd>
    <ng-container *ngIf="billingSyncSetUp">
      <dt>{{ "lastLicenseSync" | i18n }}</dt>
      <dd>
        {{ lastLicenseSync != null ? (lastLicenseSync | date: "medium") : ("never" | i18n) }}
      </dd>
    </ng-container>
  </dl>

  <a
    bitButton
    buttonType="secondary"
    href="https://vault.bitwarden.com"
    target="_blank"
    rel="noopener"
  >
    {{ "launchCloudSubscription" | i18n }}
  </a>
  <form [formGroup]="form">
    <bit-radio-group formControlName="updateMethod">
      <h2 class="mt-5">
        {{ "licenseAndBillingManagement" | i18n }}
      </h2>
      <bit-radio-button
        id="automatic-sync"
        [value]="licenseOptions.SYNC"
        [disabled]="disableLicenseSyncControl"
        class="tw-block"
      >
        <bit-label
          >{{ "automaticSync" | i18n }}
          <a
            href="https://bitwarden.com/help/families-for-enterprise-self-hosted/"
            target="_blank"
            rel="noopener"
          >
            <i class="bwi bwi-question-circle" aria-hidden="true"></i>
            <span class="sr-only">{{ "billingSyncHelp" | i18n }}</span>
          </a>
        </bit-label>
        <bit-hint>
          {{ "billingSyncDesc" | i18n }}
        </bit-hint>
      </bit-radio-button>
      <ng-container *ngIf="updateMethod === licenseOptions.SYNC">
        <button
          bitButton
          buttonType="secondary"
          type="button"
          (click)="manageBillingSyncSelfHosted()"
        >
          {{ "manageBillingSync" | i18n }}
        </button>
        <button
          bitButton
          buttonType="primary"
          type="button"
          [bitAction]="syncLicense"
          [disabled]="!billingSyncEnabled"
        >
          {{ "syncLicense" | i18n }}
        </button>
      </ng-container>

      <bit-radio-button id="manual-upload" [value]="licenseOptions.UPLOAD" class="tw-mt-6 tw-block">
        <bit-label>{{ "manualUpload" | i18n }}</bit-label>
        <bit-hint>
          {{ "manualUploadDesc" | i18n }}
        </bit-hint>
      </bit-radio-button>
      <ng-container *ngIf="updateMethod === licenseOptions.UPLOAD">
        <h3 class="tw-font-semibold">{{ "uploadLicense" | i18n }}</h3>
        <app-update-license
          [organizationId]="organizationId"
          [showCancel]="false"
          (onUpdated)="licenseUploaded()"
        ></app-update-license>
      </ng-container>
    </bit-radio-group>
  </form>
</ng-container>
