<header>
  <div class="left">
    <button type="button" routerLink="/about">
      <span class="header-icon"><i class="bwi bwi-angle-left" aria-hidden="true"></i></span>
      <span>{{ "back" | i18n }}</span>
    </button>
  </div>
  <h1 class="center">
    <span class="title">{{ "moreFromBitwarden" | i18n }}</span>
  </h1>
  <div class="right">
    <app-pop-out></app-pop-out>
  </div>
</header>
<main tabindex="-1">
  <div class="box list">
    <div class="box-content single-line">
      <div *ngIf="!(canAccessPremium$ | async)">
        <button
          type="button"
          class="box-content-row box-content-row-flex text-default"
          routerLink="/premium"
        >
          <div class="row-main">{{ "premiumMembership" | i18n }}</div>
          <i class="bwi bwi-angle-right bwi-lg row-sub-icon" aria-hidden="true"></i>
        </button>
      </div>
      <button
        type="button"
        class="box-content-row box-content-row-flex text-default"
        appStopClick
        (click)="openFreeBitwardenFamiliesPage()"
      >
        <div class="row-main">{{ "freeBitwardenFamilies" | i18n }}</div>
        <i class="bwi bwi-external-link bwi-lg row-sub-icon" aria-hidden="true"></i>
      </button>
      <button
        type="button"
        class="box-content-row box-content-row-flex text-default"
        appStopClick
        (click)="openBitwardenForBusinessPage()"
      >
        <div class="row-main">{{ "bitwardenForBusiness" | i18n }}</div>
        <i class="bwi bwi-external-link bwi-lg row-sub-icon" aria-hidden="true"></i>
      </button>
      <button
        type="button"
        class="box-content-row box-content-row-flex text-default"
        appStopClick
        (click)="openAuthenticatorPage()"
      >
        <div class="row-main">{{ "bitwardenAuthenticator" | i18n }}</div>
        <i class="bwi bwi-external-link bwi-lg row-sub-icon" aria-hidden="true"></i>
      </button>
      <button
        type="button"
        class="box-content-row box-content-row-flex text-default"
        appStopClick
        (click)="openSecretsManagerPage()"
      >
        <div class="row-main">{{ "bitwardenSecretsManager" | i18n }}</div>
        <i class="bwi bwi-external-link bwi-lg row-sub-icon" aria-hidden="true"></i>
      </button>
      <button
        type="button"
        class="box-content-row box-content-row-flex text-default"
        appStopClick
        (click)="openPasswordlessDotDevPage()"
      >
        <div class="row-main">{{ "passwordlessDotDev" | i18n }}</div>
        <i class="bwi bwi-external-link bwi-lg row-sub-icon" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</main>
