<!-- Please remove this disable statement when editing this file! -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<sm-header
  *ngIf="serviceAccount$ | async as serviceAccount"
  [title]="serviceAccount.name"
  icon="bwi-wrench"
>
  <bit-breadcrumbs slot="breadcrumbs">
    <bit-breadcrumb [route]="['..']" icon="bwi-angle-left">{{
      "serviceAccounts" | i18n
    }}</bit-breadcrumb>
  </bit-breadcrumbs>
  <sm-new-menu></sm-new-menu>
  <bit-tab-nav-bar label="Main" slot="tabs">
    <bit-tab-link [route]="['secrets']">{{ "secrets" | i18n }}</bit-tab-link>
    <bit-tab-link [route]="['people']">{{ "people" | i18n }}</bit-tab-link>
    <bit-tab-link [route]="['access']">{{ "accessTokens" | i18n }}</bit-tab-link>
  </bit-tab-nav-bar>
  <button slot="secondary" bitButton buttonType="secondary" (click)="openNewAccessTokenDialog()">
    <i class="bwi bwi-plus" aria-hidden="true"></i>
    {{ "createAccessToken" | i18n }}
  </button>
</sm-header>
<router-outlet></router-outlet>
