<section aria-hidden="true">
  <div class="tw-mt-1.5 tw-flex tw-flex-col tw-gap-4">
    <bit-skeleton-text class="tw-w-[8.625rem] tw-max-w-full tw-mb-2.5"></bit-skeleton-text>
    @for (num of numberOfItems; track $index) {
      <bit-skeleton-group class="tw-mx-2">
        <bit-skeleton class="tw-size-6" slot="start"></bit-skeleton>
        <div class="tw-flex tw-flex-col tw-gap-1">
          <bit-skeleton class="tw-w-40 tw-h-2.5 tw-max-w-full"></bit-skeleton>
          <bit-skeleton class="tw-w-24 tw-h-2.5 tw-max-w-full"></bit-skeleton>
        </div>
      </bit-skeleton-group>
      <hr class="tw-h-[1px] -tw-mr-3 tw-bg-secondary-100 tw-border-none" />
    }
  </div>
</section>
