<div id="login-with-device-page">
  <div class="login-header">
    <button
      type="button"
      appStopClick
      (click)="settings()"
      class="environment-urls-settings-icon"
      attr.aria-label="{{ 'settings' | i18n }}"
    >
      <i class="bwi bwi-cog bwi-lg" aria-hidden="true"></i>
      {{ "settings" | i18n }}
    </button>
  </div>
  <div id="content" class="content">
    <img class="logo-image" alt="Bitwarden" />
    <p class="lead text-center">{{ "logInInitiated" | i18n }}</p>

    <div class="box last">
      <div class="box-content">
        <div class="box-content-row" appBoxRow>
          <div class="section">
            <p class="section">{{ "notificationSentDevice" | i18n }}</p>
            <p>
              {{ "fingerprintMatchInfo" | i18n }}
            </p>
          </div>

          <div class="fingerprint section">
            <h4>{{ "fingerprintPhraseHeader" | i18n }}</h4>
            <code>{{ passwordlessRequest?.fingerprintPhrase }}</code>
          </div>

          <div class="section" *ngIf="showResendNotification">
            <a [routerLink]="[]" disabled="true" (click)="startPasswordlessLogin()">{{
              "resendNotification" | i18n
            }}</a>
          </div>

          <div class="sub-options another-method">
            <p class="no-margin description-text">
              {{ "needAnotherOption" | i18n }}
              <a type="button" class="text text-primary" (click)="goToLogin()">
                {{ "viewAllLoginOptions" | i18n }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #environment></ng-template>
