<ng-container *ngIf="projectAccessPolicies$; else spinner">
  <div class="tw-w-2/5">
    <p class="tw-mt-8">
      {{ description }}
    </p>
    <sm-access-selector
      [projectAccessPolicies$]="projectAccessPolicies$"
      [potentialGrantees$]="potentialGrantees$"
      [label]="label"
      [hint]="hint"
      [tableType]="accessType"
      [columnTitle]="columnTitle"
      [emptyMessage]="emptyMessage"
    >
    </sm-access-selector>
  </div>
</ng-container>

<ng-template #spinner>
  <div class="tw-items-center tw-justify-center tw-pt-64 tw-text-center">
    <i class="bwi bwi-spinner bwi-spin bwi-3x"></i>
  </div>
</ng-template>
