<div class="tw-w-2/5">
  <p class="tw-mt-8">
    {{ "projectServiceAccountsDescription" | i18n }}
  </p>
  <sm-access-selector
    [rows]="rows$ | async"
    granteeType="serviceAccounts"
    [label]="'serviceAccounts' | i18n"
    [hint]="'projectServiceAccountsSelectHint' | i18n"
    [columnTitle]="'serviceAccounts' | i18n"
    [emptyMessage]="'projectEmptyServiceAccountAccessPolicies' | i18n"
    (onCreateAccessPolicies)="handleCreateAccessPolicies($event)"
    (onDeleteAccessPolicy)="handleDeleteAccessPolicy($event)"
    (onUpdateAccessPolicy)="handleUpdateAccessPolicy($event)"
  >
  </sm-access-selector>
</div>
