<form [formGroup]="formGroup" [bitSubmit]="submit">
  <div class="tw-w-2/5">
    <p class="tw-mt-8" *ngIf="!loading">
      {{ "projectPeopleDescription" | i18n }}
    </p>
    <sm-access-policy-selector
      [loading]="loading"
      formControlName="accessPolicies"
      [addButtonMode]="true"
      [items]="potentialGrantees"
      [label]="'people' | i18n"
      [hint]="'projectPeopleSelectHint' | i18n"
      [columnTitle]="'name' | i18n"
      [emptyMessage]="'projectEmptyPeopleAccessPolicies' | i18n"
    >
    </sm-access-policy-selector>
    <button bitButton buttonType="primary" bitFormButton type="submit" class="tw-mt-7">
      {{ "save" | i18n }}
    </button>
  </div>
</form>
