<sm-header *ngIf="project$ | async as project" [title]="project.name" icon="bwi-collection">
  <bit-breadcrumbs slot="breadcrumbs">
    <bit-breadcrumb [route]="['..']" icon="bwi-angle-left">{{ "projects" | i18n }}</bit-breadcrumb>
  </bit-breadcrumbs>
  <bit-tab-nav-bar label="Main" slot="tabs">
    <bit-tab-link [route]="['secrets']">{{ "secrets" | i18n }}</bit-tab-link>
    <bit-tab-link [route]="['people']">{{ "people" | i18n }}</bit-tab-link>
    <bit-tab-link [route]="['serviceAccounts']">{{ "serviceAccounts" | i18n }}</bit-tab-link>
  </bit-tab-nav-bar>
  <sm-new-menu></sm-new-menu>
</sm-header>
<router-outlet></router-outlet>
