<!-- Please remove this disable statement when editing this file! -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<ng-container *ngIf="secrets$ | async as secrets; else spinner">
  <div *ngIf="secrets.length > 0" class="float-right tw-mt-3 tw-items-center">
    <button bitButton buttonType="secondary" (click)="openNewSecretDialog()">
      <i class="bwi bwi-plus" aria-hidden="true"></i>
      {{ "newSecret" | i18n }}
    </button>
  </div>
  <sm-secrets-list
    (deleteSecretsEvent)="openDeleteSecret($event)"
    (newSecretEvent)="openNewSecretDialog()"
    (editSecretEvent)="openEditSecret($event)"
    [secrets]="secrets"
  ></sm-secrets-list>
</ng-container>

<ng-template #spinner>
  <div class="tw-items-center tw-justify-center tw-pt-64 tw-text-center">
    <i class="bwi bwi-spinner bwi-spin bwi-3x"></i>
  </div>
</ng-template>
