<bit-dialog dialogSize="large">
  <span bitDialogTitle>
    {{ "importError" | i18n }}
  </span>
  <span bitDialogContent>
    <div>{{ "resolveTheErrorsBelowAndTryAgain" | i18n }}</div>
    <bit-table>
      <ng-container header>
        <tr>
          <th bitCell>{{ "name" | i18n }}</th>
          <th bitCell>{{ "description" | i18n }}</th>
        </tr>
      </ng-container>
      <ng-template body>
        <tr bitRow *ngFor="let line of errorLines">
          <td bitCell class="tw-whitespace-nowrap">
            [{{ line.id }}] [{{ line.type }}] {{ line.key }}
          </td>
          <td bitCell>{{ line.errorMessage }}</td>
        </tr>
      </ng-template>
    </bit-table>
  </span>
  <ng-container bitDialogFooter>
    <button bitButton bitDialogClose buttonType="primary" type="button">
      {{ "ok" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
