<popup-page [disablePadding]="true">
  <auth-anon-layout
    [title]="pageTitle"
    [subtitle]="pageSubtitle"
    [icon]="pageIcon"
    [showReadonlyHostname]="showReadonlyHostname"
    [hideLogo]="!showLogo"
    [maxWidth]="maxWidth"
    [hideFooter]="hideFooter"
    [hideCardWrapper]="hideCardWrapper"
  >
    <router-outlet></router-outlet>
    <div class="tw-flex tw-gap-2" slot="header-actions">
      <app-pop-out></app-pop-out>
      @if (showAcctSwitcher && hasLoggedInAccount) {
        <app-current-account></app-current-account>
      }
    </div>
    <router-outlet slot="secondary" name="secondary"></router-outlet>
    <router-outlet slot="environment-selector" name="environment-selector"></router-outlet>
  </auth-anon-layout>
</popup-page>
