<div class="tw-mt-4 tw-w-2/5">
  <p class="tw-mt-6">
    {{ "serviceAccountProjectsDescription" | i18n }}
  </p>
  <sm-access-selector
    [rows]="rows$ | async"
    granteeType="projects"
    [label]="'projects' | i18n"
    [hint]="'newSaSelectAccess' | i18n"
    [columnTitle]="'projects' | i18n"
    [emptyMessage]="'serviceAccountEmptyProjectAccesspolicies' | i18n"
    (onCreateAccessPolicies)="handleCreateAccessPolicies($event)"
    (onDeleteAccessPolicy)="handleDeleteAccessPolicy($event)"
    (onUpdateAccessPolicy)="handleUpdateAccessPolicy($event)"
  >
  </sm-access-selector>
</div>
