<ng-container *ngIf="showNewCustomizationSettingsCallout">
  <button
    type="button"
    class="tw-absolute tw-bottom-[12px] tw-right-[47px]"
    [bitPopoverTriggerFor]="newCustomizationOptionsCallout"
    [position]="'above-end'"
    [popoverOpen]="true"
    #triggerRef="popoverTrigger"
  ></button>
  <bit-popover
    [title]="'newCustomizationOptionsCalloutTitle' | i18n"
    #newCustomizationOptionsCallout
    (closed)="dismissCallout()"
  >
    <div bitTypography="body2" (click)="goToAppearance()">
      {{ "newCustomizationOptionsCalloutContent" | i18n }}
      <a
        tabIndex="0"
        bitLink
        linkType="primary"
        routerLink="/appearance"
        (keydown.enter)="goToAppearance()"
      >
        {{ "newCustomizationOptionsCalloutLink" | i18n }}
      </a>
    </div>
  </bit-popover>
</ng-container>
