<div class="tw-mb-3 tw-flex tw-items-center tw-gap-2" *ngIf="routeData$ | async as routeData">
  <h1 class="tw-m-0 tw-mr-2 tw-text-3xl tw-font-semibold">{{ routeData.title | i18n }}</h1>
  <div class="tw-ml-auto tw-w-1/4">
    <input bitInput class="search tw-w-full" placeholder="{{ routeData.searchTitle | i18n }}" />
  </div>
  <sm-new-menu></sm-new-menu>
  <product-switcher></product-switcher>
  <ng-container *ngIf="account$ | async as account">
    <button [bitMenuTriggerFor]="accountMenu" class="tw-border-0 tw-bg-transparent tw-p-0">
      <bit-avatar [id]="account.userId" [text]="account.name || account.email"></bit-avatar>
    </button>

    <bit-menu #accountMenu>
      <div class="tw-flex tw-min-w-52 tw-max-w-72 tw-flex-col">
        <div
          class="tw-flex tw-items-center tw-py-1 tw-px-4 tw-leading-tight tw-text-info"
          appStopProp
        >
          <bit-avatar [text]="account.name || account.email" [id]="account.userId"></bit-avatar>
          <div class="tw-ml-2 tw-block tw-overflow-hidden tw-whitespace-nowrap">
            <span>{{ "loggedInAs" | i18n }}</span>
            <small class="tw-block tw-overflow-hidden tw-whitespace-nowrap tw-text-muted">
              {{ account.name }}
            </small>
          </div>
        </div>

        <bit-menu-divider></bit-menu-divider>

        <a bitMenuItem routerLink="/settings/account">
          <i class="bwi bwi-fw bwi-user" aria-hidden="true"></i>
          {{ "accountSettings" | i18n }}
        </a>
        <a bitMenuItem href="https://bitwarden.com/help/" target="_blank" rel="noopener">
          <i class="bwi bwi-fw bwi-question-circle" aria-hidden="true"></i>
          {{ "getHelp" | i18n }}
        </a>
        <a bitMenuItem href="https://bitwarden.com/download/" target="_blank" rel="noopener">
          <i class="bwi bwi-fw bwi-download" aria-hidden="true"></i>
          {{ "getApps" | i18n }}
        </a>

        <bit-menu-divider></bit-menu-divider>

        <button bitMenuItem type="button">
          <i class="bwi bwi-fw bwi-lock" aria-hidden="true"></i>
          {{ "lockNow" | i18n }}
        </button>
        <button bitMenuItem type="button">
          <i class="bwi bwi-fw bwi-sign-out" aria-hidden="true"></i>
          {{ "logOut" | i18n }}
        </button>
      </div>
    </bit-menu>
  </ng-container>
</div>
