<bit-side-nav>
  <bit-nav-logo [openIcon]="logo" route="." [label]="'secretsManager' | i18n"></bit-nav-logo>
  <org-switcher [filter]="orgFilter" [hideNewButton]="true"></org-switcher>
  <bit-nav-item
    icon="bwi-collection"
    [text]="'projects' | i18n"
    route="projects"
    [relativeTo]="route.parent"
  ></bit-nav-item>
  <bit-nav-item
    icon="bwi-key"
    [text]="'secrets' | i18n"
    route="secrets"
    [relativeTo]="route.parent"
  ></bit-nav-item>
  <bit-nav-item
    icon="bwi-wrench"
    [text]="'machineAccounts' | i18n"
    route="machine-accounts"
    [relativeTo]="route.parent"
  ></bit-nav-item>
  <bit-nav-item
    icon="bwi-providers"
    [text]="'integrations' | i18n"
    route="integrations"
    [relativeTo]="route.parent"
  ></bit-nav-item>
  <bit-nav-item
    icon="bwi-trash"
    [text]="'trash' | i18n"
    route="trash"
    [relativeTo]="route.parent"
    *ngIf="isAdmin$ | async"
  ></bit-nav-item>
  <bit-nav-group
    icon="bwi-cog"
    [text]="'settings' | i18n"
    *ngIf="isAdmin$ | async"
    route="settings/import"
    [relativeTo]="route.parent"
  >
    <bit-nav-item
      [text]="'importData' | i18n"
      route="settings/import"
      [relativeTo]="route.parent"
    ></bit-nav-item>
    <bit-nav-item
      [text]="'exportData' | i18n"
      route="settings/export"
      [relativeTo]="route.parent"
    ></bit-nav-item>
  </bit-nav-group>

  <ng-container slot="footer">
    <navigation-product-switcher></navigation-product-switcher>
    <app-toggle-width></app-toggle-width>
  </ng-container>
</bit-side-nav>
