<a [routerLink]="['secrets']" class="tw-mx-4 tw-mt-8 tw-mb-3 tw-block">
  <bit-icon [icon]="logo" class="tw-w-full tw-text-alt2"></bit-icon>
</a>

<org-switcher></org-switcher>
<bit-nav-item icon="bwi-collection" text="Projects" route="projects"></bit-nav-item>
<bit-nav-item icon="bwi-key" text="Secrets" route="secrets"></bit-nav-item>
<bit-nav-item icon="bwi-wrench" text="Service Accounts" route="service-accounts"></bit-nav-item>
<bit-nav-item icon="bwi-trash" text="Trash" route="trash"></bit-nav-item>
<bit-nav-item icon="bwi-cog" text="Settings" route="settings"></bit-nav-item>
