<!-- Please remove this disable statement when editing this file! -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<button bitButton class="tw-min-w-max" buttonType="primary" [bitMenuTriggerFor]="newMenu">
  {{ "new" | i18n }} <i class="bwi bwi-angle-down" aria-hidden="true"></i>
</button>

<bit-menu #newMenu>
  <button type="button" bitMenuItem (click)="openProjectDialog()">
    <i class="bwi bwi-fw bwi-sitemap tw-text-xl" aria-hidden="true"></i>
    {{ "project" | i18n }}
  </button>
  <button type="button" bitMenuItem (click)="openSecretDialog()">
    <i class="bwi bwi-fw bwi-key tw-text-xl" aria-hidden="true"></i>
    {{ "secret" | i18n }}
  </button>
  <button type="button" bitMenuItem (click)="openServiceAccountDialog()">
    <i class="bwi bwi-fw bwi-wrench tw-text-xl" aria-hidden="true"></i>
    {{ "serviceAccount" | i18n }}
  </button>
</bit-menu>
