<bit-container>
  <ng-container>
    <p bitTypography="body1">
      {{ "membersWithSponsoredFamilies" | i18n }}
    </p>

    <h2 bitTypography="h2" class="">{{ "memberFamilies" | i18n }}</h2>

    @if (loading) {
      <ng-container>
        <i class="bwi bwi-spinner bwi-spin tw-text-muted" title="{{ 'loading' | i18n }}"></i>
        <span class="tw-sr-only">{{ "loading" | i18n }}</span>
      </ng-container>
    }

    @if (!loading && memberFamilies?.length > 0) {
      <ng-container>
        <bit-table>
          <ng-container header>
            <tr>
              <th bitCell>{{ "member" | i18n }}</th>
              <th bitCell>{{ "status" | i18n }}</th>
              <th bitCell></th>
            </tr>
          </ng-container>
          <ng-template body alignContent="middle">
            @for (o of memberFamilies; let i = $index; track i) {
              <ng-container>
                <tr bitRow>
                  <td bitCell>{{ o.sponsorshipEmail }}</td>
                  <td bitCell class="tw-text-success">{{ o.status }}</td>
                </tr>
              </ng-container>
            }
          </ng-template>
        </bit-table>
        <hr class="mt-0" />
      </ng-container>
    } @else {
      <div class="tw-my-5 tw-py-5 tw-flex tw-flex-col tw-items-center">
        <img class="tw-w-32" src="./../../../images/search.svg" alt="Search" />
        <h4 class="mt-3" bitTypography="h4">{{ "noMemberFamilies" | i18n }}</h4>
        <p bitTypography="body2">{{ "noMemberFamiliesDescription" | i18n }}</p>
      </div>
    }
  </ng-container>
</bit-container>
