<header>
  <div class="left">
    <button type="button" (click)="close()">{{ "close" | i18n }}</button>
  </div>
  <h1 class="center">
    <span class="title">{{ "passwordHistory" | i18n }}</span>
  </h1>
  <div class="right"></div>
</header>
<main tabindex="-1">
  <div class="box list full-list" *ngIf="history && history.length">
    <div class="box-content">
      <div class="box-content-row box-content-row-flex" *ngFor="let h of history">
        <div class="row-main">
          <div class="row-main-content">
            <span
              class="text monospaced no-ellipsis"
              [innerHTML]="h.password | colorPassword"
            ></span>
            <span class="detail">{{ h.lastUsedDate | date: "medium" }}</span>
          </div>
        </div>
        <div class="action-buttons">
          <button
            type="button"
            class="row-btn"
            appStopClick
            appA11yTitle="{{ 'copyPassword' | i18n }}"
            (click)="copy(h.password)"
          >
            <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="no-items" *ngIf="!history || !history.length">
    <p>{{ "noPasswordsInList" | i18n }}</p>
  </div>
</main>
